body html {
  height: 100%;
  padding: 0;
}

.mynav {

}

.herodiv {
  background-image: url(abstract.jpg);
  height: 500px;
  width: 100vw;

  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }



li {
  margin-right: 10px;
}
