body html {
  height: 100%;
  padding: 0;
}

.herodiv {
  background-image: url(abstract.jpg);
  height: 700px;
  width: 100vw;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.navbar {

}
.navul {
  list-style: none;
  margin: 0;
  padding: 0;
  right: -50px;
}

.Main {
  border: 1px solid black;
  width: 350px;
  height: 350px;
  .initials {
    background-color: blue;
    display: block;
    font-family: 'Nunito', sans-serif;

  }
  .header {
    display: block;
  }
  p {
    background-color: blue;
    display: block;
    text-align: center;
  }
}



#abtsection {
  background-color: blue;
  height: 700px;
  width: 100vw;
  padding: 0;
}
#abtsection2 {

}

#pagepiling {
  height: 700px;
  width: 100vw;
}
